<form id="frmLogin"  action="/login" method="POST">
	<p><h1>Login</h1></p>
	<hr class="hr-dotted">
	<div>
		<table>
			<tr>
				<td style="text-align:right;">
					<label for="login" class="rem">Usuario:</label>  
				</td>
				<td style="text-align:left;">
					<input type="text" id="login" name="login"  value="" placeholder="Usuario"  class="btn" />
				</td>
			</tr>
			<tr>
				<td style="text-align:right;">
					<label for="password" class="rem">Password:</label>
				</td>
				<td style="text-align:left;">
					<input type="password" id="password" name="password" value="" placeholder="Contraseña" class="btn" />
				</td>
			</tr>
		</table>
		<p>
			<button name="commit" type="submit" class="btn btn-green"><i class="fa fa-sign-in"></i> Login</button>
		</p>
	</div>
</form>
