<form id="frmPreguntasSearch"  action="/quizes" method="GET">
	<p>
		<b>Pregunta:</b>
		<input type="text" id="search" name="search" value="" placeholder="Texto a buscar..."  class="btn" />
		<button type="submit" class="btn btn-2"><i class="fa fa-search"></i></button>
	</p>
</form>
<hr class="hr-dotted">
<% if(quizes.length === 0){ %>
	<p>No hay coincidencias</p>
	<a href="/quizes"><button type="button" class="btn">Volver a preguntas</button></a>
<% }else{ %>
<table style="margin: 0 auto;">
<% var i; for ( i=0 ; i < quizes.length ; i++){ %>
	<tr>
		<td style="  text-align: right;">
			<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
		</td>
		<td style="padding-left: 1rem;">
			<a href="/quizes/<%= quizes[i].id %>/edit" title="Editar la pregunta"><button type="button" class="btn"><i class="fa fa-pencil"></i> Modificar</button></a>
		</td>
	</tr>
<% } %>
	<tr>
		<td style="  text-align: right;"></td>
		<td style="padding-left: 1rem;">
			<a href="/quizes/new" title="Crear nueva pregunta"><button type="button" class="btn btn-green"><i class="fa fa-plus"></i> Nueva</button></a>
		</td>
	</tr>
</table>
<% } %>

