<form id="frmPreguntas"  action="/quizes/answer" method="GET">
	<p><b>Pregunta:</b> <%= pregunta %></p>
	<input type="text" id="respuesta" name="respuesta" value="" placeholder="Respuesta" />
	<input type="submit" value="Enviar">
</form>
