<form id="frmPreguntasShow"  action="/quizes/<%= quiz.id %>/answer" method="GET">
	<span> <%= quiz.pregunta %></span>
	<input type="text" id="respuesta" name="respuesta" value="" placeholder="Respuesta" class="btn" />
	<button type="submit" class="btn btn-icon"><i class="fa fa-paper-plane"></i> Enviar</button>
	<p><a href="/quizes"><button type="button" class="btn"><i class="fa fa-reply"></i> Volver a preguntas</button></a></p>
</form>
